<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>eni-encheres</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletInscription</display-name>
    <servlet-name>ServletInscription</servlet-name>
    <servlet-class>fr.eni.encheres.ihm.ServletInscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInscription</servlet-name>
    <url-pattern>/ServletInscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConnexion</display-name>
    <servlet-name>ServletConnexion</servlet-name>
    <servlet-class>fr.eni.encheres.ihm.ServletConnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConnexion</servlet-name>
    <url-pattern>/ServletConnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPageAccueil</display-name>
    <servlet-name>ServletPageAccueil</servlet-name>
    <servlet-class>fr.eni.encheres.ihm.ServletPageAccueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPageAccueil</servlet-name>
    <url-pattern>/ServletPageAccueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAfficherProfil</display-name>
    <servlet-name>ServletAfficherProfil</servlet-name>
    <servlet-class>fr.eni.encheres.ihm.ServletAfficherProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAfficherProfil</servlet-name>
    <url-pattern>/ServletAfficherProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDetailVente</display-name>
    <servlet-name>ServletDetailVente</servlet-name>
    <servlet-class>fr.eni.encheres.ihm.ServletDetailVente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDetailVente</servlet-name>
    <url-pattern>/ServletDetailVente</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletNouvelleVente</display-name>
    <servlet-name>ServletNouvelleVente</servlet-name>
    <servlet-class>fr.eni.encheres.ihm.ServletNouvelleVente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNouvelleVente</servlet-name>
    <url-pattern>/ServletNouvelleVente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDeconnexion</display-name>
    <servlet-name>ServletDeconnexion</servlet-name>
    <servlet-class>fr.eni.encheres.ihm.ServletDeconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDeconnexion</servlet-name>
    <url-pattern>/ServletDeconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletModifArticle</display-name>
    <servlet-name>ServletModifArticle</servlet-name>
    <servlet-class>fr.eni.encheres.ihm.ServletModifArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModifArticle</servlet-name>
    <url-pattern>/ServletModifArticle</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncheresFilter</display-name>
    <filter-name>EncheresFilter</filter-name>
    <filter-class>fr.eni.encheres.ihm.EncheresFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncheresFilter</filter-name>
    <url-pattern>/EncheresFilter</url-pattern>
  </filter-mapping>
</web-app>